.Toast--container {
  min-width: 250px;
  transform: translate(-50%, -50%);
  background-color: $gray-500;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.error {
    background-color: $red-200;
  }

  &.showToast {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }

  &.hideToast {
    -webkit-animation: fadeout 1.5s;
    animation: fadeout 1.5s;
  }

  @-webkit-keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 50px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 50px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      top: 50px;
      opacity: 1;
    }
    to {
      top: -150px;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      top: 50px;
      opacity: 1;
    }
    to {
      top: -150px;
      opacity: 0;
    }
  }
}
