.CharacterDetails {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &--description {
    display: flex;

    img {
      border-radius: 4px;
    }

    &--credentials {
      margin-left: 20px;

      &--species,
      &--gender,
      &--origin {
        text-transform: capitalize;
        display: flex;
        align-items: baseline;

        .label {
          margin-right: 5px;
        }
      }

      &--species {
        margin-top: 30px;
      }

      &--gender,
      &--origin {
        margin-top: 5px;
      }

      svg {
        margin-top: 30px;
      }
    }
  }

  &--additionalDetails {
    margin-top: 30px;

    &--status,
    &--lastLocation {
      text-transform: capitalize;
      display: flex;
      align-items: baseline;

      .label {
        margin-right: 5px;
      }
    }

    &--lastLocation {
      margin-top: 5px;
    }

    &--explorations {
      margin-top: 30px;
      display: flex;
      align-items: baseline;

      &--title {
        margin-right: 5px;
      }
    }
  }
}
