.Authenticate {
  &--switch {
    cursor: pointer;
    color: $text-color-light;
    text-decoration: underline;
    text-align: center;
  }

  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;
    }

    .Input,
    .Button {
      margin-top: 20px;
    }
  }
}
