.Navbar {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 2;
  display: flex;
  background-color: $gray-700;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .Button {
    margin-left: 10px;
  }
}
