.Characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 20px;
  overflow: auto;

  .CharacterCardWrapper {
    margin: 20px;
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    text-decoration: none;
  }
}
