.Button {
  background-color: $gray-200;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;

  &.disabled {
    background-color: $gray-400;
    cursor: not-allowed;
  }

  svg {
    path,
    rect {
      fill: $gray-700;
    }
  }
}
