.CharacterCard {
  position: relative;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;

  img {
    height: 100%;
  }

  &--details {
    padding: 20px;
    background-color: $gray-600;
    width: 100%;

    &--title {
      text-transform: capitalize;

      .status {
        margin-top: 5px;
      }
    }

    &--description {
      margin-top: 20px;
      text-transform: capitalize;

      .origin {
        margin-top: 5px;
      }

      svg {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
