$gray-100: #f8f9fa;
$gray-200: #dadbdc;
$gray-300: #b7b8ba;
$gray-400: #99a5b1;
$gray-500: #6b7a88;
$gray-600: #404b53;
$gray-700: #252525;

$green-100: #72b383;
$green-200: #43a763;

$red-100: #ff6f61;
$red-200: #ee4535;

$white: #fff;

$text-color-light: $white;
$text-color-dark: $gray-700;

$text-label-color-light: $gray-400;
$text-label-color-dark: $gray-500;

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  height: 100vh;
  background-color: $gray-700;
}

@import './Components//Toast/Toast.scss';
@import './Components/ProcessingSpinner/ProcessingSpinner.scss';
@import './Components/Navbar/Navbar.scss';
@import './Components/Button/Button.scss';
@import './Components/Text/Text.scss';
@import './Components/Input/Input.scss';
@import './Components/CharacterCard/CharacterCard.scss';

@import './Layouts/AuthLayout/AuthLayout.scss';
@import './Layouts/MainLayout/MainLayout.scss';
@import './Layouts/ErrorLayout/ErrorLayout.scss';

@import './Pages/Authenticate/Authenticate.scss';
@import './Pages/Characters/Characters.scss';
@import './Pages/CharacterDetails/CharacterDetails.scss';
@import './Pages/404/404.scss';
