.Text {
  color: $text-color-light;
  margin: 0;

  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 18px;
  }

  &.lg {
    font-size: 22px;
  }

  &.dark {
    color: $text-color-dark;
  }

  &.label {
    color: $text-label-color-light;
  }
}
